*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    }
.primary-content{
        text-align: center;
    }
.primary-heading{
        font-family: Mulish;
        font-size: 40px;
        font-weight: 800;
}
.primary-des{
        margin-top: 15px;
        color: #131318B2;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }
.second-heading{
        font-family: Mulish;
        font-size: 24px;
        font-weight: 800;
        margin-top: 25px;
        }
.second-des{
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.5px;
        margin-top: 10px;
        }

     /*header section start  */
nav{
        background-color: #FF5400;
        height: 80px;
        border-radius: 5px;
        display: flex; 
        align-items: center;
        justify-content: space-around;
    }
.nav-img{
        background-color: #FFFFFF;
        border-radius: 7px;
        height: 40px;
    }
.Travel{
        color: yellow;
    }
.logo {
        font-size: 2rem;
        color:#fff;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
.logo i{
        color: yellow;
    }
nav ul{
        list-style: none;
        display: flex;
    }
nav ul li a{
        color: white;
        text-decoration: none;
        margin: 0.6rem;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        transition: all 0.4s;
        padding: 0.5rem;
        cursor: pointer;
    }
nav ul li a:hover,
nav ul li a.active{
        background-color: palevioletred;
        border-radius: 5px;
    }
.menu-icon{
        color: white;
        cursor: pointer;
        display: none;
    }
 #click{
        display: none;
    }
/*header section end  */
/*main section start  */
/*banner section start  */
#banner-section{
        background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./B9A2-Hero-Travel/Images/Group\ 13\ \(1\)\ \(1\).png);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        border-radius: 5px;
    }
.banner-content{
        padding-top: 150px; 
        text-align: center;
    }
.banner-heading{
        color: #FFF;
        font-family: Mulish;
        font-size: 64px;
        font-weight: 800;
    }
.banner-des{
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; 
    }
 .banner-inputfill{
        background: rgba(255, 255, 255, 0.30);
        padding: 40px 0;
        padding-right: 140px;
        margin: 0 auto;
        position: static;
        position: relative;
        left: 200px;
    }
.banner-inputfill, .inputfill-container{
        display: inline;
        text-align: center;
    }
.banner-inputfill, input{
        width: 174px;
        height: 52px;
        border-radius: 8px;
        margin-top: 30px;
        border: none;
        margin-left: 15px;
    }
::placeholder{
        padding-left: 15px;
        font-size: 16px;
    }
.input-icon{
        color: black;
        margin-left: -40px;
        padding-right: 15px;
    }
.banner-btn{
        background: #FF5400;
        color: #FFF;
        font-family: Mulish;
        font-weight: 700;
        font-size: 16px;
    }
.banner-search-icon{
        margin-left: -150px;
        font-size: 20px;
        align-items: center;
        color: #fff;
        }
/*banner section end  */
/* Tour section start */
.tour-container{
        display: flex;
        margin: 100px  0;
    }
.article-heading{
        font-family: Mulish;
        font-size: 40px;
        font-weight: 800;
    }
.article-des{
        width: 80%;
        color: #131318B2;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 15px;
        letter-spacing: 1px;
    }
.unorder-des{
        margin-left: 15px;
    }
.article-btn{
        background-color: #FF5400;
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
    }
.tour-img{
        width: 500px;
        height: 500px;
    }
/* Tour section end */
/* destination section start */
    .row{
        display: flex;
        gap: 20px; 
        margin-top: 20px;
    }
    .row img{
        height: 100%;
        width: 100%;
    }
.img-tittle{
        color: #FFFFFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;
        font-weight: 800;
        position: relative;
        top: 180px;
}
/* destination section end */
/* choose section start */
.choose-content{
        margin-top: 130px;
    }
.hotel-container{
        display: flex;
        gap: 30px;
        margin-bottom: 30px;
        margin-top: 40px;
    }
.hotel-content{
        background-color: #FBB56333;
        width: 573px;
        height: 265px;
        border-radius: 16px;
        padding: 40px 40px 0 40px;
    }
.map-content{
        background-color: #29CEF633;
        width: 573px;
        height: 265px;
        border-radius: 16px;
        padding: 40px 40px 0 40px;
    }
.price-content{
        background-color: #E9444433;
        width: 530px;
        height: 265px;
        border-radius: 16px;
        padding: 40px 40px 0 40px;
        text-align: start;
        margin: 0 300px;
}
/* choose section end */
/* discount section start */
#discount-section{
        margin-top: 120px;
        }
.discount-content{
        margin-bottom: 50px;
        }
.discount-container1{
        margin-top: 20px;
        background-image: url(./B9A2-Hero-Travel/Images/Group\ 39.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        border-radius: 16px;
        }
      
.discount-content1{
        background: #FFFFFF;
        width: 400px;
        height: 320px;
        margin: 0 0 0 700px;
        position: relative;
        top: 100px;
        border-radius: 16px;
        padding-left: 40px;
    }
.discount-card{
        display: flex;
        padding-top: 40px;
        gap: 10px;
        }
.discount-card-heading{
        margin-top: 5px;
        }
.price-ret{
        color: #FF5400;
        font-family: Mulish;
        font-size: 20px;
        font-weight: 800;
        margin-top: 10px;
        }
.discount-btn{
        width: 150px;
        height: 52px;
        background-color: #FF5400;
        color: #FFF;
        font-family: Mulish;
        font-size: 20px;
        font-weight: 800;
        border: none;
        border-radius: 10px;
        margin-top: 10px;
        }
.discount-container2{
         margin-top: 20px;
        background-image: url(./B9A2-Hero-Travel/Images/Group\ 40.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        border-radius: 16px;
        }
.discount-content2{
        background: #FFFFFF;
        width: 400px;
        height: 320px;
        margin-left: 50px;
        position: relative;
        top: 100px;
        border-radius: 16px;
        padding-left: 40px;
    }
.package-btn{
        margin-left: 500px;
        margin-top: 40px;
        width: 200px;
        }
/* discount section end */
/* place section start */
.place-container{
    /* margin-top: 20px; */
        display: flex;
        justify-content: space-between;
    }
.article-content{
        margin-top: 55px;
    }
.place-heading{
        font-family: Mulish;
        font-size: 30px;
        font-weight: 800;
        line-height: 50px; 
        width: 380px;
        }
.place-des{
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; 
        margin-top: 20px;
        }
.place-unoder-des{
        font-family: Mulish;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        margin-left: 20px;
        margin-top: 20px;
        }
.place-btn{
        width: 174px;
        height: 52px;
        margin-top: 15px;
        }
.aside-place-heading{
        color: #FFFFFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;
        font-weight: 800;
        position: relative;
        top: 250px;
        }
         

/* place section end */
/* newsletter section start */
.newsletter-container{
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
    }
.article-section{
        background: #FFF;
        border: 1px solid #FF5400;
        border-radius: 10px;
        width: 500px;
        height: 400px;
    }
.newsletter-content{
        margin: 50px 0 0 50px;
    }
.newsletter-inputfill .newsletter-input{
        display: block;
    }
.newsletter-input{
        background-color: #1313180D;
        width: 400px;
        height: 50px;
        margin-left: 0;
    }
.Subscribe-btn{
        margin-top: 30px;
        background-color: #FF5400;
    }
.aside-section img{
        width: 672px;
        height: 400px;
    }
.travel{
        background-color: #FF5400;
        height: 100px;
        width: 290px;
        border-radius: 10px;
        transform: rotate(-20deg);
        position: absolute;
        left: 66.5rem;
        top: 388rem;
    }
.travel-para{
        color: #FFF;
        font-family: Mulish;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        padding-top: 15px;
        }
.travel-head{
        color: #FFF;
        font-family: Mulish;
        font-size: 32px;
        font-weight: 800;
        text-align: center;
        }

/* newsletter section end */
/*main section end  */
/* footer section start */
.footer-container{
        margin-top: 100px;
        background-color: #1313180D;
        height: 500px;
        border-radius: 5px;
    }
.footer-content{
        display: flex;
        justify-content: center;
        gap: 15px;
    }
.footer-contents{
        text-align: center;
        position: relative;
        top:  7rem;
    }
.footer-img{
        height: 40px;
        margin-top: 15px;
    }
.Travel-color{
        color: #FF5400;
    }
.footer-icon{
        margin-top: 30px;
        margin-bottom: 30px;
    }
.horijantal{
        background-color: #1313181A;
        margin: 0 150px;
    }
.footer-copyright{
        margin-top: 40px;
    }

/* footer section end */
    /* for desktop */
@media screen and (max-width: 992px){

/*header section end  */
    nav{
        margin: 0 40px;
    }
/*main section start  */
/*banner section start  */
#banner-section{
        margin: 0 40px;
        }
.banner-inputfill{
        left: 50px;
        }
/*banner section end  */
/* Tour section start */
.tour-container{
        display: flex;
        margin-left: 40px;
        margin-right: 40px;
    }
.tour-img{
        width: 400px;
        height: 500px;
    }
/* Tour section end */
/*destination-section start */
    .row{
        margin: 0 40px;
        margin-top: 20px;
    }
/*destination-section end */
/* Choose-section start */
#Choose-section{
        margin: 0 40px;
    }
.price-content{
        width: 400px;
        text-align: start;
        margin: 0 200px;
    }
/* Choose-section end */
/* discount-section start */
#discount-section{
        margin: 120px 40px;
    }     
.discount-content1{
        background: #FFFFFF;
        width: 400px;
        height: 320px;
        margin: 0 0 0 420px;
        position: relative;
        top: 100px;
        border-radius: 16px;
        padding-left: 40px;
    }
/* discount-section end */
/* place section start */

.package-btn{
        margin-left: 350px;
    }
.place-container{
        margin: 0 40px;
    }
.place-img{
        height: 400px;
        width: 450px;
    }
/* newsletter section start */
.newsletter-container{
        margin-left: 40px;
        margin-right: 40px;
        gap: 30px;
    }
.newsletter-content{
        margin: 50px 0 0 40px;
    }
.aside-section img{
        width: 450px;
    }
.newsletter-input{
        width: 90%;
    }
.travel{
        height: 80px;
        width: 200px;
        left: 45rem;
        top: 386rem;
    }
.travel-head{
        font-size: 25px; 
    }
/* footer section start */
.footer-container{
        margin: 100px 40px 0 40px;
    }


/* footer section end */

}



    /* for mobaile */
@media  screen and (max-width:600px){
    

            /*header section start  */
    nav{
        margin:0 40px;
    }
    .menu-icon{
        display: block;
    }
    /* #click:checked ~ .menu-icon i:before{
        content: '\2715';
    } */
        
    nav ul{
        position: fixed;
        top: 80px;
        left:100%;
        min-height: 60vh;
        background-color: black;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.4s;  
    }
    /* #click:checked ~ ul{
        left: 0%;
    } */
nav ul li{
         margin-top: 50px;
        
       }
nav ul li a{
        font-size: 1.2rem;
        padding: 20px 150px;
        transition: all 0.4s;
    }
nav ul li a.active{
       background-color: black;
    }
nav ul li a:hover{
        background-color: hotpink;
    }

/*header section end  */
/*main section start  */
/*banner section start  */
#banner-section{
        margin: 0 40px;
        height: 700px;
    }
.banner-heading{
        font-size: 30px;
    }
.banner-des{
        font-size: 14px;
        width: 350px;
    }
.banner-des-parent{
        display: flex;
        justify-content: center;
    }
.banner-content{
        padding-top: 40px;
    }
 .banner-inputfill{
        padding-bottom: 320px;
        padding-right: 150px;
        left: 75px;
        top: 10px;
    }
.banner-inputfill, .inputfill-container{
        position: relative;
        bottom: 20px;
        display: flex;
        flex-direction: column;
    }
.inputfill-container, .text{
        width: 300px;
    }
.input-icon{
        position: relative;
        bottom: 30px; 
        left: 160px;
    }
.banner-search-icon{
        position: relative;
        bottom: 35px;
        left: 40px;
        }
/*banner section end  */
/* Tour section start */
.tour-container{
        margin-left: 2.5rem;
        flex-direction: column;
        }
.article-des{
        width: 100%;
    }
.tour-img{
        margin-top: 30px;
        width: 500px;
        height: 500px;
    }
.destination-content{
        margin: 0 80px;
    }

.destination-heading{
        font-size: 25px;
    }

/* destination section start */
.row{
        display: flex;
        gap: 0;
        margin-top: 0;
        flex-direction: column;
    }
/* .row{
    display: flex;
    gap: 20px; 
    margin-top: 20px;
} */
/* destination section end */
/* choose section start */
.hotel-container{
        flex-direction: column;
    }
.choose-des{
        margin: 0 80px;
    }
.hotel-content{
        width: 420px;
    }
.map-content{
        width: 420px;
        }
.price-content{
        width: 420px;
        margin-left: 0;
        }


/* choose section start */
/* discount section start */
.discount-des{
        margin: 0 100px;
    }
.discount-container1{
        height: 600px;
        }
.discount-container2{
        height: 600px;
        }
   
.discount-content1{
        background: #FFFFFF;
        width: 400px;
        height: 320px;
        margin: 0 0 0 30px;
        position: relative;
        top: 250px;
        border-radius: 16px;
        padding-left: 40px;
    }
      
.discount-content2{
        background: #FFFFFF;
        width: 400px;
        height: 320px;
        margin: 0 0 0 30px;
        position: relative;
        top: 250px;
        border-radius: 16px;
        padding-left: 40px;
    }
.package-btn{
        margin-left: 150px;
    }


/* discount section end */
/* place section start */
.place-container{
        flex-direction: column;
    }
.place-img{
        width: 100%;
    }
.article-content{
        margin-top: 0;
    }

 
/*place section end */
/* newsletter section start */
.newsletter-container{
        margin-top: 50px;
        flex-direction: column;
    }
.aside-section img{
        width: 500px;
        height: 400px;
    }

.travel{
        height: 80px;
        width: 200px;
        left: 20.5rem;
        top: 609rem;
    }
.travel-head{
        font-size: 25px; 
    }

/* newsletter section end */
/* footer section start */
.footer-container{
        margin-top: 50px;
        height: 400px;
    }
.footer-contents{
        text-align: center;
        position: relative;
        top:  4rem;
    }
.footer-tittle{
        margin: 0 65px;
        }
.horijantal{
        margin: 0 30px;
    }


/* footer section end */


}




































